In [1]:
import pandas as pd

In [2]:
from covidvu.utils import autoReloadCode; autoReloadCode()

In [12]:
from covidvu.vujson import JH_CSSE_FILE_CONFIRMED,STATE_CODES_PATH,US_REGIONS,makeUSRegionsVerbose,_isCounty
from covidvu.vujson import splitCSSEData,splitCSSEDataByParsingBoundary
from covidvu.vujson import PARSING_MODE_BOUNDARY_1,_getCounties_mode1
from covidvu.vujson import allUSCases, allCases

In [13]:
sourceFileName = JH_CSSE_FILE_CONFIRMED

In [42]:
casesGlobalCollection = [0, 0]
casesUSStatesCollection = [0, 0]
casesUSRegionsCollection = [0, 0]
casesUSCountiesCollection = [0, 0]
casesBoatsCollection = [0, 0]

cases = pd.read_csv(sourceFileName)
cases = splitCSSEDataByParsingBoundary(cases)

# Parsing type 1
casesUS,  casesUSRegions = allUSCases(cases[0])
casesUSCounties = _getCounties_mode1(cases[0])

casesGlobalCollection[0] = allCases(cases[0])
casesUSStatesCollection[0] = casesUS
casesUSRegionsCollection[0] = casesUSRegions
casesUSCountiesCollection[0] = casesUSCounties
#casesBoatsCollection[0] =

# Parsing type 2
casesGlobal2, casesUSRegions2, casesUSStates2, casesUSCounties2, casesBoats2 = splitCSSEData(cases[1])

casesGlobalCollection[1] = casesGlobal2
casesUSRegionsCollection[1] = casesUSRegions2
casesUSStatesCollection[1] = casesUSStates2
casesUSCountiesCollection[1] = casesUSCounties2

In [47]:
pd.concat(casesUSRegionsCollection).tail()

,!Total US,Diamond Princess,Midwest,Northeast,South,Unassigned,West
2020-03-07,402,45.0,9,93,30,21,204
2020-03-08,518,45.0,13,147,42,23,248
2020-03-09,583,45.0,20,184,57,23,254
2020-03-10,1784,NaN,40,302,90,897,455
2020-03-11,2428,NaN,81,368,134,1224,621

In [49]:
casesUSStatesCollection[0].tail()

,!Total US,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,Texas,Unassigned,Utah,Vermont,Virginia,Washington,Washington D.C.,West Virginia,Wisconsin,Wyoming
2020-03-05,217,0,0,1,0,51,0,0,0,3,...,3,45,0,0,0,70,0,0,0,0
2020-03-06,262,0,0,2,0,59,3,0,0,3,...,4,45,0,0,0,78,0,0,0,0
2020-03-07,402,0,0,4,0,81,7,0,0,7,...,8,66,1,0,0,102,0,0,0,0
2020-03-08,518,0,0,4,0,95,7,0,0,10,...,11,68,1,1,2,122,0,0,0,0
2020-03-09,583,0,0,4,0,101,7,0,0,13,...,13,68,1,1,2,122,0,0,0,0

In [50]:
casesUSStatesCollection[1].tail()

,Unassigned,South,West,West,South,West,West,Northeast,South,Unassigned,...,South,West,Northeast,South,West,South,Unassigned,South,Midwest,West
2020-03-10,892,0,0,6,0,144,15,2,0,5,...,13,2,1,7,267,0,0,0,3,0
2020-03-11,1214,0,0,9,1,177,34,3,1,10,...,21,3,1,9,366,0,0,0,6,0

In [48]:
casesGlobal = pd.concat(casesGlobalCollection)
casesUSRegions = pd.concat(casesUSRegionsCollection)
casesUSStates = pd.concat(casesUSStatesCollection)
casesUSCounties = pd.concat(casesUSCountiesCollection)

AttributeError: 'NoneType' object has no attribute 'is_extension'

In [25]:
a, b = casesGlobalCollection

In [30]:
df = cases[0]

In [31]:
df.columns = df.columns.droplevel()

In [38]:
df.columns.unique()

Index(['Thailand', 'Japan', 'Singapore', 'Nepal', 'Malaysia', 'Canada',
       'Australia', 'Cambodia', 'Sri Lanka', 'Germany',
       ...
       'Vietnam', 'Russia', 'Moldova', 'Bolivia', 'Honduras',
       'Congo (Kinshasa)', 'Cote d'Ivoire', 'Jamaica', 'Reunion', 'Turkey'],
      dtype='object', name='Country/Region', length=114)

In [41]:
df.groupby(df.columns, axis=1).sum()

Country/Region,Afghanistan,Albania,Algeria,Andorra,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahrain,...,Taiwan*,Thailand,Togo,Tunisia,Turkey,US,Ukraine,United Arab Emirates,United Kingdom,Vietnam
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,1,2,0,0,0,1,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,1,3,0,0,0,1,0,0,0,2
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,3,5,0,0,0,2,0,0,0,2
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,3,7,0,0,0,2,0,0,0,2
2020-01-26,0,0,0,0,0,0,4,0,0,0,...,4,8,0,0,0,5,0,0,0,2
2020-01-27,0,0,0,0,0,0,5,0,0,0,...,5,8,0,0,0,5,0,0,0,2
2020-01-28,0,0,0,0,0,0,5,0,0,0,...,8,14,0,0,0,5,0,0,0,2
2020-01-29,0,0,0,0,0,0,6,0,0,0,...,8,14,0,0,0,5,0,4,0,2
2020-01-30,0,0,0,0,0,0,9,0,0,0,...,9,14,0,0,0,5,0,4,0,2
2020-01-31,0,0,0,0,0,0,9,0,0,0,...,10,19,0,0,0,7,0,4,2,2
2020-02-01,0,0,0,0,0,0,12,0,0,0,...,10,19,0,0,0,8,0,4,2,6
2020-02-02,0,0,0,0,0,0,12,0,0,0,...,10,19,0,0,0,8,0,5,2,6
2020-02-03,0,0,0,0,0,0,12,0,0,0,...,10,19,0,0,0,11,0,5,2,8
2020-02-04,0,0,0,0,0,0,13,0,0,0,...,11,25,0,0,0,11,0,5,2,8
2020-02-05,0,0,0,0,0,0,13,0,0,0,...,11,25,0,0,0,11,0,5,2,8
2020-02-06,0,0,0,0,0,0,14,0,0,0,...,16,25,0,0,0,11,0,5,2,10
2020-02-07,0,0,0,0,0,0,15,0,0,0,...,16,25,0,0,0,11,0,5,3,10
2020-02-08,0,0,0,0,0,0,15,0,0,0,...,17,32,0,0,0,11,0,7,3,13
2020-02-09,0,0,0,0,0,0,15,0,0,0,...,18,32,0,0,0,11,0,7,3,13
2020-02-10,0,0,0,0,0,0,15,0,0,0,...,18,32,0,0,0,11,0,8,8,14
2020-02-11,0,0,0,0,0,0,15,0,0,0,...,18,33,0,0,0,12,0,8,8,15
2020-02-12,0,0,0,0,0,0,15,0,0,0,...,18,33,0,0,0,12,0,8,9,15
2020-02-13,0,0,0,0,0,0,15,0,0,0,...,18,33,0,0,0,13,0,8,9,16
2020-02-14,0,0,0,0,0,0,15,0,0,0,...,18,33,0,0,0,13,0,8,9,16
2020-02-15,0,0,0,0,0,0,15,0,0,0,...,18,33,0,0,0,13,0,8,9,16
2020-02-16,0,0,0,0,0,0,15,0,0,0,...,20,34,0,0,0,13,0,9,9,16
2020-02-17,0,0,0,0,0,0,15,0,0,0,...,22,35,0,0,0,13,0,9,9,16
2020-02-18,0,0,0,0,0,0,15,0,0,0,...,22,35,0,0,0,13,0,9,9,16
2020-02-19,0,0,0,0,0,0,15,0,0,0,...,23,35,0,0,0,13,0,9,9,16
2020-02-20,0,0,0,0,0,0,15,0,0,0,...,24,35,0,0,0,13,0,9,9,16
2020-02-21,0,0,0,0,0,0,19,0,0,0,...,26,35,0,0,0,15,0,9,9,16
2020-02-22,0,0,0,0,0,0,22,0,0,0,...,26,35,0,0,0,15,0,13,9,16
2020-02-23,0,0,0,0,0,0,22,0,0,0,...,28,35,0,0,0,15,0,13,9,16
2020-02-24,1,0,0,0,0,0,22,0,0,1,...,30,35,0,0,0,51,0,13,13,16
2020-02-25,1,0,1,0,0,0,22,2,0,23,...,31,37,0,0,0,51,0,13,13,16
2020-02-26,1,0,1,0,0,0,22,2,0,33,...,32,40,0,0,0,57,0,13,13,16
2020-02-27,1,0,1,0,0,0,23,3,0,33,...,32,40,0,0,0,58,0,13,15,16
2020-02-28,1,0,1,0,0,0,23,3,0,36,...,34,41,0,0,0,60,0,19,20,16
2020-02-29,1,0,1,0,0,0,25,9,0,41,...,39,42,0,0,0,68,0,21,23,16
2020-03-01,1,0,1,0,0,1,27,14,3,47,...,40,42,0,0,0,74,0,21,36,16
2020-03-02,1,0,3,1,0,1,30,18,3,49,...,41,43,0,0,0,98,0,21,40,16
2020-03-03,1,0,5,1,1,1,39,21,3,49,...,42,43,0,0,0,118,1,27,51,16
2020-03-04,1,0,12,1,1,1,52,29,3,52,...,42,43,0,1,0,149,1,27,86,16
2020-03-05,1,0,12,1,1,1,55,41,6,55,...,44,47,0,1,0,217,1,29,116,16
2020-03-06,1,0,17,1,2,1,60,55,6,60,...,45,48,1,1,0,262,1,29,164,16
2020-03-07,1,0,17,1,8,1,63,79,9,85,...,45,50,1,1,0,402,1,45,207,18
2020-03-08,4,0,19,1,12,1,76,104,9,85,...,45,50,1,2,0,518,1,45,274,30
2020-03-09,4,2,20,1,12,1,91,131,9,95,...,45,50,1,2,0,583,1,45,322,30